---
import ArticleCard from '../../components/ArticleCard.astro'
import Layout from '../../components/Layout.astro'

const allPosts = await Astro.glob('./*.md')
---
<Layout pageTitle="archive" pageDescription="Archive of all articles published on this blog" slug="posts">
    <h1 class="text-4xl">Archive</h1>
    {allPosts.length ? (
        <div class="grid grid-cols-1 gap-4 py-4">
          {allPosts.map(post => (
            <ArticleCard post={post}/>
          ))}
        </div>
      ) : null}
</Layout>
