---
import Layout from '../components/Layout.astro'
---
<Layout pageTitle="404 page not found">
    <h1 class="text-4xl">Ah. That's a 404.</h1>
    <p class="mb-4 text-lg">Sorry, couldn't find that one.</p>
</Layout>
