---
import Layout from '../components/Layout.astro'
---
<Layout pageTitle="404 page not found">
    <h1 class="text-4xl">Thanks for your comment!</h1>
    <p class="mb-4 text-lg">Your comment was submitted and is awaiting approval.</p>
</Layout>
