---
import Layout from '../components/Layout.astro'
---
<script>
document.addEventListener("DOMContentLoaded", () => {
    const formHandlerResponse = new URLSearchParams(window.location.search).get(
    "success"
    );
    // return early
    if (!formHandlerResponse) return;

    // was it successful as a boolean instead of a string
    const isSuccessful = formHandlerResponse === "true";

    // grab the original form
    const content = document.getElementById("content");

    // ahh HTML templates. What joy.
    /**
     * @type {HTMLTemplateElement}
     */
    const submissionSuccessTemplate = document.querySelector(
    'template[name="submission-success"]'
    );
    /**
     * @type {HTMLTemplateElement}
     */
    const submissionFailureTemplate = document.querySelector(
    'template[name="submission-failure"]'
    );

    content?.appendChild(
    isSuccessful
        ? submissionSuccessTemplate?.content
        : submissionFailureTemplate?.content
    );
});
</script>
<template name="submission-success">
<div class="p-7">
    <h1 class="text-4xl">Awesome.</h1>
    <p class="mb-4 text-lg">Thanks for submitting a comment!</p>
    <p class="mb-4 text-lg">I will approve it in the next few days.</p>
    <p class="mb-4 text-lg">Have you considered subscribing to my RSS feed?</p>
</div>
</template>
<template name="submission-failure">
<div class="p-7">
    <h1 class="text-4xl">Drat.</h1>
    <p class="text-lg">
    Sorry, something went wrong when we tried to submit your request. Please try again later.
    </p>
</div>
</template>
<Layout pageTitle="Comment submission">
    <div id="content"></div>
</Layout>
