---
import Layout from '../components/Layout.astro'
---
<Layout pageTitle="404 page not found">
    <h1 class="text-4xl">Awesome.</h1>
    <p class="mb-4 text-lg">Thanks for submitting a comment!</p>
    <p class="mb-4 text-lg">Have you considered subscribing to my RSS feed? It's a lot less intrusive than email.</p>
</Layout>
