---
import { getCollection } from "astro:content";
import ArticleCard from "../components/ArticleCard.astro";
import Layout from "../components/Layout.astro";
import Rabbits from "../components/Rabbits.astro";

const allPosts = await getCollection("posts");

const latestPosts = allPosts
  ?.filter((post) => {
    return post.data.tags.some((tag) => tag !== "leadership");
  })
  ?.sort((a, b) => {
    return (
      new Date(b.data.datePublished).getTime() -
      new Date(a.data.datePublished).getTime()
    );
  })
  .slice(0, 2);

const leadershipPosts = allPosts.filter((post) => {
  return post.data.tags.some((tag) => tag === "leadership");
  })
  ?.sort((a, b) => {
      return (
        new Date(b.data.datePublished).getTime() -
        new Date(a.data.datePublished).getTime()
      );
    })
  .slice(0, 2);
---

<script
  src="https://the-claw-webring-widget.netlify.app/the-claw-webring-widget.mjs"
  type="module"></script>

<Layout pageTitle="home" slug="index">
  <h1 class="mb-2 text-2xl md:mb-4 md:text-4xl">
    Delicious Reverie is the personal home of <a
      class="underline"
      href="/about-benjamin-read">Benjamin Read</a
    > on the web.
  </h1>
  <p class="mb-4 text-xl">
    I'm a Senior and sometimes Lead JavaScript Software Engineer with experience
    of FinTech and Property Tech markets. I enjoy hanging out with my friends
    and family. I'm a partial to poetry and book collecting.
  </p>
  <a class="mb-12 normal-case btn btn-primary" href="/about-benjamin-read/"
    >More about me</a
  >
  <h2 class="text-3xl tracking-wide">Most Recent articles:</h2>
  <ul class="pl-2 mb-12 list-disc md:pl-6">
  {
    latestPosts?.length > 0 && (
      <li class="grid grid-cols-1 gap-4">
        {latestPosts.map((post) => (
          <ArticleCard post={post} />
        ))}
      </li>
    )
  }
  </ul>
  <h2 class="text-3xl tracking-wide">Latest articles about Leadership:</h2>
  <ul class="pl-2 mb-12 md:pl-6">
    {
      leadershipPosts?.length > 0 && (
        <li class="grid grid-cols-1 gap-4">
          {leadershipPosts.map((post) => (
            <ArticleCard post={post} showTags={false} />
          ))}
        </li>
      )
    }
  </ul>
  <p class="mt-6 text-lg">So far, {allPosts.length} total articles published.</p>
  <a class="my-6 normal-case btn btn-primary hover:bg-accent" href="/tags/"
    >See all articles by topic</a
  >
  <a class="normal-case btn btn-primary hover:bg-accent" href="/posts/"
    >See all articles by date published</a
  >
  <Rabbits />
  <hr class="mt-12 mb-8 border-1 border-slate-600" />
  <h2 class="mb-4 text-2xl">Webrings</h2>
  <the-claw-webring-widget></the-claw-webring-widget>
</Layout>
