---
import { getCollection } from 'astro:content';
import ArticleCard from '../components/ArticleCard.astro'
import Embeds from '../components/Embeds.astro';
import Layout from '../components/Layout.astro'
import prettyNumber from '../components/prettyNumber';
import Rabbits from '../components/Rabbits.astro'

const allPosts = await getCollection('posts');

const getYouTubeStatistics = async (channelId) => {
  const response = await fetch(`https://www.googleapis.com/youtube/v3/channels?part=statistics,contentDetails&id=${channelId}&key=${process.env.YOUTUBE_API_KEY}`)

  return await response.json()
}

const stats = await getYouTubeStatistics('UCzbL3ZYvJWzJbrbHCgZLDJQ')

const latestPosts = allPosts?.sort((a, b) => {
  return new Date(b.data.datePublished).getTime() - new Date(a.data.datePublished).getTime();
}).slice(0, 3)
---
<script src="https://the-claw-webring-widget.netlify.app/the-claw-webring-widget.mjs" type="module"></script>

<Layout pageTitle="home" slug="index">
      <h1 class="mb-2 text-2xl md:mb-4 md:text-4xl">Delicious Reverie is the personal home of <a class="underline" href="/about-benjamin-read">Benjamin Read</a> on the web.</h1>
      <p class="mb-4 text-xl">I'm a Senior JavaScript Software Engineer with experience of FinTech and Property Tech markets. I enjoy leadership roles. I'm also a poetry and literature nerd.</p>
      <a class="mb-6 normal-case btn btn-primary" href="/about-benjamin-read/">More about me</a>
      <h2 class="mt-8 text-3xl tracking-wide">⚙ Recent posts:</h2>
      {latestPosts?.length > 0 && (
          <div class="grid grid-cols-1 gap-4">
            {latestPosts.map(post => (
              <ArticleCard post={post} />
            ))}
          </div>
      )}
      <a class="mb-6 normal-case btn btn-primary" href="/tags/">&rarr; See all {allPosts.length + 1} posts</a>
      <hr/>
      <h2 class="pb-4 mt-8 text-3xl">📼 YouTube Channel</h2>
      <p class="mb-2 text-xl text-inherit">I also run a YouTube channel called "The Coding Cocoon" where I teach young adults how to code and design.</p>
      {!stats.error && (<p class="mb-6 text-xl text-inherit">The channel currently has {stats.items[0].statistics.subscriberCount.toLocaleString('en-GB')} subscribers and {prettyNumber(stats.items[0].statistics.viewCount)} views.</p>)}
      <a class="normal-case btn btn-primary" href="https://www.youtube.com/channel/UCzbL3ZYvJWzJbrbHCgZLDJQ">See all videos</a>
      <Rabbits />
      <hr class="my-8 border-1 border-slate-600"/>
      <h2 class="mb-4 text-2xl">Webrings</h2>
      <the-claw-webring-widget />
</Layout>
