---
import { getCollection } from 'astro:content';
import ArticleCard from '../components/ArticleCard.astro'
import Layout from '../components/Layout.astro'
import Rabbits from '../components/Rabbits.astro'

const allPosts = await getCollection('posts');

const latestPosts = allPosts?.sort((a, b) => {
  return new Date(b.data.datePublished).getTime() - new Date(a.data.datePublished).getTime();
}).slice(0, 3)
---
<script src="https://the-claw-webring-widget.netlify.app/the-claw-webring-widget.mjs" type="module"></script>

<Layout pageTitle="home" slug="index">
      <h1 class="mb-2 text-2xl md:mb-4 md:text-4xl">Delicious Reverie is the personal home of <a class="underline" href="/about-benjamin-read">Benjamin Read</a> on the web.</h1>
      <p class="mb-4 text-xl">I'm a Senior and sometimes Lead JavaScript Software Engineer with experience of FinTech and Property Tech markets. I enjoy hanging out with my friends and family. I'm a partial to poetry and book collecting.</p>
      <a class="mb-12 normal-case btn btn-primary" href="/about-benjamin-read/">More about me</a>
      <h2 class="text-3xl tracking-wide">⚙ Recent posts:</h2>
      {latestPosts?.length > 0 && (
          <div class="grid grid-cols-1 gap-4">
            {latestPosts.map(post => (
              <ArticleCard post={post} />
            ))}
          </div>
      )}
      <a class="mb-12 normal-case btn btn-primary" href="/tags/">&rarr; See all {allPosts.length + 1} posts</a>
      <Rabbits />
      <hr class="my-8 border-1 border-slate-600"/>
      <h2 class="mb-4 text-2xl">Webrings</h2>
      <the-claw-webring-widget />
</Layout>
