@import 'tailwindcss';
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "coffee";
  default: true;
  /* --color-primary: "#333333";
  --color-secondary: "#f7ebc1";
  --color-base: "red"; */
  --color-base-100: "#331f33";
  --color-base-200: "#333333";
  --color-base-300: "orange";
  --color-base-content: "#f7ebc1";
  --color-primary: "#333333";
  --color-primary-content: "#f7ebc1";
  --color-secondary: "wheat";
  --color-secondary-content: "yellow";
  --color-accent: "#331f33";
  --color-accent-content: "#331f33";
}

@font-face {
  font-family: 'Lovechild';
  src: url('/fonts/Lovechild-Regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lovechild';
}
.lovechild {
  font-family:'Lovechild';
}

.max-w-contain {
  max-width: 30em;
}
@media (max-width: 640px) {
  .max-w-contain {
    padding: 0 1rem;
  }
}
@media (min-width: 768px) {
  .astro-code {
    margin-right: -6rem;
    margin-left: -6rem;
  }
}
.pagefind-ui {
  --pagefind-ui-scale: 0.75;
  --pagefind-ui-border-width: 0px;
  width: 100%;
  }
/* Pagefind */
.pagefind-ui .pagefind-ui__drawer:not(.pagefind-ui__hidden) {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 0.2rem;
  z-index: 20;
  padding: 0 2em 1em;
  overflow-y: auto;
  box-shadow:
    0 10px 10px -5px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.1);
  border-bottom-right-radius: var(--pagefind-ui-border-radius);
  border-bottom-left-radius: var(--pagefind-ui-border-radius);
  background-color: var(--pagefind-ui-background);
}