---
const { slug } = Astro.props;

---
<script is:inline>
  function respondToCommentSubmission(isSuccessful) {
    const formContainer = document.getElementById('form-container');
    if (isSuccessful) {
      formContainer.innerHTML = '<p>Thank you for your message! It\'s awaiting moderation, but that shouldn\'t take too long.</p>';
      return;
    }
    formContainer.appendChild('<p>Sorry, we couldn\'t submit your message.</p>');
    return;
  }
  const form = document.getElementById('contact-form');
  form.addEventListener('submit', async (e) => {
    e.preventDefault();
    const data = new FormData(form);
    const body = JSON.stringify(Object.fromEntries(data))
    
    try {
      const response = await fetch('/.netlify/functions/send-comment', {
        method: 'POST',
        body,
        headers: {
          'content-type': 'application/json',
        },
      });
      if (response.ok) {
        respondToCommentSubmission(true)
        return;
      }
      respondToCommentSubmission(false)
    } catch (error) {
      respondToCommentSubmission(false)
    }
  });
</script>
<div id="form-container">
  <form 
    id="contact-form" 
    method="POST" 
    class="flex flex-col"
  >
    <input
      required
      type="text"
      name="name"
      id="name"
      placeholder="name"
      class="w-full max-w-xs mb-2 input"
      max="100"
    />
    <input
      required
      type="email"
      name="email"
      id="email"
      placeholder="email"
      class="w-full max-w-xs mb-2 input"
      max="100"
    />
    <textarea id="body" placeholder="Message" name="body" rows="3" class="w-full max-w-xs mb-2 textarea" maxlength="500" 
    ></textarea>
    <input type="hidden" name="slug" value={slug} />
    <br/>
    <input type="submit" class="w-full max-w-xs btn btn-primary" value="Send message" />
  </form>
</div>
