---
const { slug } = Astro.props;

---
<div>
  <form 
    id="contact-form" 
    method="POST" 
    class="flex flex-col"
    data-netlify="true"
    action="/comment-thanks/"
  >
    <input
      required
      type="text"
      name="name"
      id="name"
      placeholder="name"
      class="w-full max-w-xs mb-2 input"
      max="100"
    />
    <input
      required
      type="email"
      name="email"
      id="email"
      placeholder="email"
      class="w-full max-w-xs mb-2 input"
      max="100"
    />
    <textarea id="message" placeholder="Message" name="message" rows="3" class="w-full max-w-xs mb-2 textarea" maxlength="500" 
    ></textarea>
    <input type="hidden" name="slug" value={slug} />
    <br/>
    <input type="submit" class="w-full max-w-xs btn btn-primary" value="Send message" />
  </form>
</div>
