---
const { slug } = Astro.props;

---
<script is:inline>
  window.addEventListener('DOMContentLoaded', () => {
    const form = document.getElementById('contact-form');
    form.addEventListener('submit', async (e) => {
      e.preventDefault();
      e.target.querySelector('input[type="submit"]').disabled = true;
      console.log(form)
      // const response = await fetch(form.action, {
      //   method: 'POST',
      //   body: new FormData(form),
      // });
      // if (response.ok) {
      //   console.log('Message sent');
      //   form.reset();
      // } else {
      //   console.log('Error sending message');
      // }
    });
  });

</script>
<div>
  <form 
    id="contact-form" 
    method="POST" 
    class="flex flex-col"
  >
    <input
      required
      type="text"
      name="name"
      id="name"
      placeholder="name"
      class="w-full max-w-xs mb-2 input"
      max="100"
    />
    <input
      required
      type="email"
      name="email"
      id="email"
      placeholder="email"
      class="w-full max-w-xs mb-2 input"
      max="100"
    />
    <textarea id="message" placeholder="Message" name="message" rows="3" class="w-full max-w-xs mb-2 textarea" maxlength="500" 
    ></textarea>
    <input type="hidden" name="slug" value={slug} />
    <br/>
    <input type="submit" class="w-full max-w-xs btn btn-primary" value="Send message" />
  </form>
</div>
