@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Lovechild';
  src: url('/fonts/Lovechild-Regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lovechild';
}
h1,
h2,
h3 {
  @apply mb-6;
}
h4,
h5,
h6 {
  @apply mb-4;
}

.max-w-contain {
  max-width: 30em;
}
@media (max-width: 640px) {
  .max-w-contain {
    padding: 0 1rem;
  }
}
@media (min-width: 768px) {
  .astro-code {
    margin-right: -6rem;
    margin-left: -6rem;
  }
}