---
import Layout from '../components/Layout.astro';

const { frontmatter } = Astro.props;
---
<Layout pageTitle={frontmatter.title} pageDescription={frontmatter.description}>
  <h1 class="my-4 text-5xl text-zinc-800">{frontmatter.title}</h1>
  <article class="[&_*]:mb-4 [&_h2]:mt-8 [&_h3]:mt-8 [&_h4]:mt-8 [&_pre]:rounded-lg [&_pre]:p-4 [&_code]:text-white [&_ul]:list-disc [&_ul]:list-inside [&_a]:underline [&_a]:text-slate-700 text-xl [&_code>pre]:p-4 [&_code]:not-[pre]:text-slate-700 [&_ol]:list-decimal [&_ol]:list-inside">
    <slot />
  </article>
</Layout>